.icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  width: 50%;
}

.icons > div {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  animation: sine 5s infinite linear;
}

@keyframes sine {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(0.5, 0.5);
  }

  100% {
    transform: scale(1, 1);
  }
}
