*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.app,
#root,
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  font-family: 'Poppins';
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins-Regular.ttf');
  font-weight: 400;
}

a {
  text-decoration: none;
}
